Dependency Directories

package-lock.json
node_modules
.next
.next/cache

Logs

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

Local Config and Secrets

.env
.env.local
.env.development
.env.production

Build Artifacts

out

Next.js Specific

.vercel
/public/robots.txt


